.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #3A3845;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #F7CCAC;
}

h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #F7CCAC;
}

p {
  font-size: 2rem;
  color: #F7CCAC;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #F7CCAC;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

button {
  margin-top: 30px;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  background-color: Transparent;
  border: none;
  color: #F7CCAC;
}

button:hover {
  color: #FAC213;
}

